* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  h1, h2 {
    color: hsl(234, 12%, 34%);
  }

  h3, p {
    color: hsl(229, 6%, 66%);
  }

.wrapper {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

/* header section */

header {
  text-align: center;
  font-weight: 200;
}

header h1 {
  padding: 5% 0 5% 0;
  font-weight: 200;
  text-align: center;
}
header span {
  font-weight: 600;
}

header h3 {
  font-weight: 400;
  padding: 0px 30px 0px 30px;
}

/* Cards Section */

.cards {
  padding-top: 80px;
}

.card {
  background-color: #ffffff;
  height: 30vh;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  border-top: 5px solid hsl(180, 62%, 55%);
  padding: 25px 0px 10px 30px;
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 8px 25px 5px rgba(184,184,184,1);
  -moz-box-shadow: 0px 8px 25px 5px rgba(184,184,184,1);
  box-shadow: 0px 8px 25px 5px rgba(184,184,184,1);
  position: relative;
}

.team-builder {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.card h2 {
  color: hsl(234, 12%, 34%);
  font-size: 2rem;
}

.card p {
  padding-right: 20px;
  padding-top: 10px;
  font-size: 18px;
  color: hsl(229, 6%, 66%);
}

.card img {
  width: 75px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}


/* MEDIA QUERIES */ 

@media (min-width: 1130px) {
   .cards {
     display: flex;
     flex-grow: 1;
     width: 80%;
     margin: 0 auto;
     align-items: center;
   }
   .inner-wrapper {
     display: flex;
     flex-direction: column;
     width: 100%
   }
}





